@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    background-color: #F0F0F4;
    font-family: 'Roboto', sans-serif;
}

a:link,
a:visited {
    color: #1F74AD;
}

/* Flash messages */
.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.flash {
    border: 2px solid #92cae4;
    margin: 1em 0.5em 0 0.5em 0;
    padding: 0.5em;
    background-color: #d5edf8;
    border-color: #92cae4;
    color: #205791;
}

.error {
    background-color: #ffecec;
    border-color: #f5aca6;
    color: #f04437;
}

.success {
    background-color: #e9ffd9;
    border-color: #a6ca8a;
    color: #3e7800;
}

.info {
    /* Use default styles */
}

#navi {
    background-color: #1F74AD; /* Laji.fi darker blue */
    color: #f1f1f1;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2em);
    height: 1.3em;
    z-index: 100;
    box-shadow: #000 0 0 5px;
}

#hero {
    display: none;
}

#body_home #hero {
    display: block;
}

#hero {
    background-color: #204100;
    padding: 10px;
    margin: 0 -10px 1em -10px;
    height: 15em;
    max-height: 25vh;
    min-height: 4em;
    color: #fff;
    /* image stretched to fit the div */
    background-image: url("/static/images/hero-0.jpg");
    background-image: url("/static/images/hero-1.jpg");
    background-image: url("/static/images/hero-center.jpg");
    background-image: url("/static/images/hero-3.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: #999 0 0 5px;
    width: calc(100% - 2px);
}

#hero a {
    float: right;
    margin: 1em 0 0 0;
}

#hero h1 {
    font-size: 200%;
    text-shadow: 2px 2px 4px #000;
    margin: 0.3em 0 0 0.2em;
}

#content {
    margin-top: 5em;
}

#body_home #content {
    margin-top: 3em;
}

.strong_link {
    padding-left: 0.2em;
}

#navi h2 {
    font-size: 120%;
    display: inline;
    text-transform: uppercase;  
    margin: 0;
    letter-spacing: 0.1rem;
}

#navi h2 a {
    text-decoration: none;
}

#navi a,
#navi a:link
#navi a:visited
#navi a:active
{
    color: #fff;
}

#login_navi {
    text-align: right;
    display: flex;
    gap: 10px; /* Adds space between items in #login_navi */
}

#login_navi span {
    display: inline-block;
    margin-left: 0.75em;
}

#login_p {
    font-size: 120%;
}

#admin {
    font-weight: bold;
}


#content h2 {
    margin: 0;
    padding-top: 1em;
    clear: both;
}

.challenges h2,
.participations h2 {
    padding-top: 2em;
}

.challenge,
.participation {
    margin: 1em 2em 1em 0;
    padding: 1em;
    background-color: #fff;
    width: 30em;
    float: left;
    min-height: 10em;
    box-shadow: #ccc 4px 4px 4px;
}

.challenge img {
    float: right;
    margin-top: -3em;
}

#challenge_info img {
    display: none;
}

.open .challenge,
.open .participation {
    border-left: 5px solid #1fad32;
}

.draft .challenge,
.draft .participation {
    border-left: 5px solid #1F74AD;
}

.closed .challenge,
.closed .participation {
    border-left: 5px solid #ad301f;
}

.trashed .challenge,
.trashed .participation {
    border-left: 5px solid #666;
    background-color: #eee;
    color: #666
}

.challenge h3,
.participation h3 {
    margin-top: 0;
}

.challenge p,
.participation p {
    margin-bottom: 0;
}

#challenge_mine {
    background-color: #fff;
    padding: 0 1em 0.5em 1em;
    border-radius: 10px;
}

#challenge_mine h2 {
    margin: 0;
}

#challenge_results_container {
    display: flex;
    flex-wrap: wrap;
}
  
#challenge_results_container div {
    flex: 1;
    min-width: 27em;
    padding-right: 1em;

}

.participation .button {
    margin-left: 1em;
}

#add_participation {
    margin: 0.7em 0 0 2em;
}

ul h3,
ul h4 {
    margin: 0;
}

#taxon_count_heading {
    margin-left: 0.5em;
}

#subnavi {
    margin-bottom: 1.5em;
    font-weight: bold;
}
textarea#description {
    width: 30em;
    height: 10em;
}

/* Buttons */
a.button,
button {
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    padding: 0.3em 0.4em;
    text-decoration: none;
    margin-right: 1em;
    font-size: 100%;

    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%)
}

a.button:active,
button:active {
    transform: translateY(2px);
}

#taxa {
    margin-left: 0;
    padding-left: 0;
}

#taxa li {
    padding: 0.5em;
    list-style-type: none;
}

#taxa .date-filled {
    background-color: #d1ff98;
}

#taxa li span {
    min-width: 18em;
    display: inline-block;
}

#submit_container {
    position: sticky;
    top: 3.3em;
    padding: 0.8em 0 0.8em 0;
    background-color: #F0F0F4;
}

#trash {
    float: right;
    width: 20em;
    height: 4em;
    position: relative;
    background-color: #ffcccc;
    background-color: #F0F0F4;
    border-radius: 5px;
    padding: 0.5em;
}

#trash #trash_button {
    background-color: #ffcccc;
    background-image: linear-gradient(to top, #ffa7a7 0%, #ffcccc 80%, #ffd8d8 100%)
}

#trash #confirm_button {
    display: none; /* Hidden initially */
    background-image: linear-gradient(to top, #dd0000 0%, #ff6464 80%, #ff9f9f 100%);
    color: #fff;
    border: 1px solid #ef7979;
    position: absolute;
    bottom: 0.5em;
}

#trash #trashed_formfield {
    display: none; /* The option field is hidden for non-trashed challenges */
}
    
/* If form is already trashed, show the select option field, but not the trash button */
.trashed_1 #trash #trashed_formfield {
    display: block;
}
.trashed_1 #trash #trash_button {
    display: none;
}


/* General Table Styling */
table {
    border-collapse: collapse;
    margin-top: 1.5em;
    border-bottom: 1px solid #1F74AD;
}


table th {
    background-color: #1F74AD;
    color: white;
    padding: 10px;
    text-align: left;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

#taxa_results .observed {
    background-color: #c3eece;
}

table tr:hover {
    background-color: #ddd;
}

table td {
padding: 10px;
}

#footer {
    background-color: #1F74AD;
    padding: 10px;
    margin: 2em 0 0 -10px;
    clear: both;
    width: calc(100% - 2px);
}

#footer img {
    height: 50px;
    width: auto;
}

#footer a {
    color: #fff;
    margin-right: 1em;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
