<!-- Template for a page for submitting a new participation to a challenge. -->

{% extends "base.html" %}

{% block head %}
    <title>Muokkaus: {{ html['data_fields'].get('title', '') }} - 100 lajia</title>
{% endblock %}

{% block body %}

    <h1>Haasteen muokkaus: {{ html['data_fields'].get('title', '') }}</h1>

    <form action="/admin/haaste/{{ html['challenge_id'] }}" method="post">
    
        <p>
            <label for="title">Haasteen nimi:</label><br>
            <input 
                type="text" 
                id="title" 
                name="title" 
                value="{{ html['data_fields'].get('title', '') }}"
            required>
        </p>

        <p>
            <label for="description">Kuvaus:</label><br>
            <textarea 
                id="description" 
                name="description"
            >{{ html['data_fields'].get('description', '') }}</textarea>
        </p>        

        <p>
            {{ html['type_field_html']|safe }}
        </p>

        <p>
            {{ html['status_field_html']|safe }}
        </p>

        <p>
            <label for="title">Taksonitiedoston tunniste (esim. plantae_2024):</label><br>
            <input 
                type="text" 
                id="taxon" 
                name="taxon" 
                value="{{ html['data_fields'].get('taxon', '') }}"
            required>
        </p>

        <p>
            <label for="title">Autocomplete-parametrit:</label><br>
            <input 
                type="text" 
                id="autocomplete" 
                name="autocomplete" 
                value="{{ html['data_fields'].get('autocomplete', '') }}"
            >
        </p>

        <p>
            <label for="date_begin">Alkupäivä:</label><br>
            <input 
                type="date" 
                id="date_begin" 
                name="date_begin" 
                value="{{ html['data_fields'].get('date_begin', '') }}"
            required>
        </p>

        <p>
            <label for="date_end">Loppupäivä:</label><br>
            <input 
                type="date" 
                id="date_end" 
                name="date_end" 
                value="{{ html['data_fields'].get('date_end', '') }}"
            required>
        </p>

        <p>
            <button type="submit">Tallenna haaste</button>
        </p>
        
    </form>

{% endblock %}
