<!-- Template for a page for submitting a new participation to a challenge. -->

{% extends "base.html" %}

{% block head %}
    <title>Haasten muokkaus: {{ html['data_fields'].get('title', '') }}</title>
{% endblock %}

{% block body %}

    <h1>Haasteen muokkaus: {{ html['data_fields'].get('title', '') }}</h1>

    <form action="/admin/haaste/{{ html['challenge_id'] }}" method="post">
    
        <p>
            <label for="title">Haasteen nimi:</label>
            <input 
                type="text" 
                id="title" 
                name="title" 
                value="{{ html['data_fields'].get('title', '') }}"
            required>
        </p>

        <p>
            <label for="description">Description:</label>
            <textarea 
                id="description" 
                name="description"
            >{{ html['data_fields'].get('description', '') }}</textarea>
        </p>        

        <p>
            {{ html['type_field_html']|safe }}
        </p>

        <p>
            {{ html['status_field_html']|safe }}
        </p>

        <p>
            <label for="title">Taksonin tunniste (MX...):</label>
            <input 
                type="text" 
                id="taxon" 
                name="taxon" 
                value="{{ html['data_fields'].get('taxon', '') }}"
            required>
        </p>

        <p>
            <label for="year">Vuosi:</label>
            <input 
                type="text" 
                id="year" 
                name="year" 
                value="{{ html['data_fields'].get('year', '') }}"
            required>
        </p>

        <p>
            <button type="submit">Tallenna haaste</button>
        </p>
        
    </form>

{% endblock %}
