<!-- Template for the administration page that displays challenges. -->

{% extends "base.html" %}

{% block head %}
    <title>Species Challenge - Luomus</title>
{% endblock %}

{% block body %}

    <h1>Admin</h1>

    <a href="/admin/haaste" class='button'>Lisää uusi haaste</a></p>

    <div class="challenges open">
        <h2>Avoimet</h2>
        {{ html["open_challenges"]|safe }}
    </div>

    <div class="challenges draft">
        <h2>Luonnokset</h2>
        {{ html["draft_challenges"]|safe }}
    </div>

    <div class="challenges closed">
        <h2>Suljetut</h2>
        {{ html["closed_challenges"]|safe }}
    </div>

{% endblock %}
