<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="login">
            {% if user_data %}
                <!-- Logged in as user_data['id'] -->
                Hei {{ user_data['fullName'] }}! <a href="/logout">Kirjaudu ulos</a>
            {% else %}
                <!-- Not logged in -->
                <a href="https://login.laji.fi/login?target=KE.781&redirectMethod=GET&locale=fi&next=sc_dev">Kirjaudu sisään</a>
            {% endif %}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
