<!-- Base structure template for all webpages with shared navigation -->

<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block head %}{% endblock %}
        <script>
            // Fade out flash messages
            document.addEventListener('DOMContentLoaded', (event) => {
              const N = 5; // seconds
            
              setTimeout(() => {
                const flashDiv = document.querySelector('.flash');
                if (flashDiv) {
                  flashDiv.classList.add('fade-out');
                }
              }, N * 1000);
            });

            // Confirm before leaving the page if form is dirty
            var formIsDirty = false;
            document.addEventListener('DOMContentLoaded', function () {
                var formIsSubmitting = false; 
                var form = document.querySelector('form');

                form.addEventListener('input', function () {
                    formIsDirty = true;
                });

                // Listen for the form submission and update the flag
                form.addEventListener('submit', function () {
                    formIsSubmitting = true;
                });

                window.addEventListener('beforeunload', function (e) {
                    if (formIsDirty && !formIsSubmitting) {
                        e.returnValue = 'Tekemiäsi muutoksia ei ole tallennettu.'; // Some content necessary for the dialog to appear
                        return e.returnValue;
                    }
                });
            });
        </script>
           
    </head>
    <body{% block body_attributes %}{% endblock %}>
        <div id="navi">
            <h2><a href='/'>100 Lajia</a></h2>
            <div id="login_navi">
                {% if user_data %}
                    <!-- Logged in as {{ user_data['id'] }} -->
                    <span id="user_info">{{ user_data['fullName'] }}</span>
                    <span id="my"><a href="/oma">Omat osallistumiset</a></span>
                    {% if is_admin %}
                        <span id="admin"><a href='/admin'>Admin</a></span>
                    {% endif %}
                    <span id="logout"><a href="/logout">Kirjaudu ulos</a></span>
                {% else %}
                    <!-- Not logged in -->
                    <span id="login"><a href="/login">Kirjaudu sisään</a></span>
                {% endif %}
            </div>
        </div>

        <div id="content">
            <!-- Show latest flash message, if exists. -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% set category, message = messages[-1] %}
                    <div class="flash {{ category }}">{{ message|safe }}</div>
                {% endif %}
            {% endwith %}

            {% block body %}{% endblock %}
        </div>

        <div id="footer">
            <a href="https://laji.fi">
                <img src="{{ url_for('static', filename='images/laji.fi_50.png') }}" alt="Laji.fi - Lajitietokeskus">
            </a>
            <a href="https://luomus.fi">
                <img src="{{ url_for('static', filename='images/luomus_50.png') }}" alt="Luonnontieteellien keskusmuseo Luomus">
            </a>
            <a href="https://koneensaatio.fi">
                <img src="{{ url_for('static', filename='images/kone_50.png') }}" alt="Koneen säätiö">
            </a>
            <a href="https://laji.fi/about/713">
                Tietosuojaseloste
            </a>
            <a href="https://laji.fi/about/3863">
                Saavutettavuusseloste
            </a>
            <a href="https://github.com/luomus/species-challenge">
                GitHub
            </a>
    </div>
    </body>
</html>
