<!-- Template for a page that displays a single challenge and statistics about it. -->

{% extends "base.html" %}

{% block head %}
    <title>{{ html['challenge']['title'] }} - 100 lajia</title>
{% endblock %}

{% block body %}

    {{ html["challenge_html"]|safe }}

    <div id="challenge_mine">
        <h2>Osallistumiseni tähän haasteeseen</h2>
        {{ html["participations_html"]|safe }}
    </div>

    <div id="challenge_results_container">

        <ul class="only_mobi anchor_link">
            <li>
                <a href="#challenge_participants"><span>⬇ </span>Osallistujaluetteloon</a>
            </li>
        </ul>
    
        <div id="challenge_species">
            <h2>Havaitut lajit</h2>
            {{ html["taxa_html"]|safe }}
        </div>

        <ul class="only_mobi anchor_link">
            <li>
                <a href="#content"><span>⬆ </span>Alkuun</a>
            </li>
        </ul>

        <div id="challenge_participants">
            <h2>Osallistujat</h2>
            {{ html["participant_html"]|safe }}
        </div>

        <ul class="only_mobi anchor_link">
            <li>
                <a href="#content"><span>⬆ </span>Alkuun</a>
            </li>
        </ul>
    </div>


{% endblock %}
