<!-- Template for a page for submitting a new participation to a challenge. -->

{% extends "base.html" %}

{% block head %}
    <style>
        #autocomplete-container {
            position: relative;
            margin-bottom: 10em;
            margin-left: 10px;
        }

        #autocomplete-input {
            width: 22em;
        }

        #autocomplete-results {
            font-size: 100%;
            border: 1px solid #ccc;
            border-top: none;
            position: absolute;
            z-index: 10;
            width: 17em; /* Adjust based on parent's border */
            background: #fff;
            color: #000;
            max-height: 200px;
            overflow-y: auto;
        }

        .autocomplete-item {
            padding: 0.5em;
            cursor: pointer;
            border-bottom: 1px solid #eee;
        }

        .autocomplete-item:hover {
            background-color: #bcffbc;
        }

        #taxa .taxon_name {
            cursor: pointer;
        }
    </style>

    <title>Osallistuminen: {{ html['challenge']['title'] }} - 100 lajia</title>
    <script>

    // Trash button logic
    document.addEventListener("DOMContentLoaded", function() {
        var trashButton = document.getElementById("trash_button");
        var confirmButton = document.getElementById("confirm_button");
        var form = document.getElementById("challenge");
        var trashedSelect = document.getElementById("trashed");

        trashButton.addEventListener("click", function() {
            confirmButton.style.display = "block"; // Show the confirm button
            trashButton.style.display = "none"; // Hide the trash button
        });

        confirmButton.addEventListener("click", function() {
            trashedSelect.value = "1"; // Set trashed = 1 (true)
            form.submit(); // Submit the form
        });
    });

    // Taxa date field selection and styles logic
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('#taxa li').forEach(addClickListenerToLi);
        document.querySelectorAll('#taxa li').forEach(addInputEventListenerToDateInput);
    });

    function addClickListenerToLi(li) {

        // Find the span with class 'taxon_name' within the li
        const taxonNameSpan = li.querySelector('.taxon_name');

        if (taxonNameSpan) {
            // Update class based on the initial state
            updateClass(li);

            // Add click event listener to the span
            taxonNameSpan.addEventListener('click', function() {
                let dateInput = li.querySelector('input[type="date"]');
                if (dateInput && dateInput.value === '') {
                    dateInput.value = new Date().toISOString().split('T')[0]; // Set to today's date
                    updateClass(li);
                    formIsDirty = true;
                }
            });
        }
    }

    function updateClass(li) {
        let dateInput = li.querySelector('input[type="date"]');
        if (dateInput && dateInput.value !== '') {
            li.classList.add('date-filled');
        } else {
            li.classList.remove('date-filled');
        }
    }

    // Function to update the class based on the input value
    function updateClassBasedOnDateInput(input) {
        const li = input.closest('li'); // Find the closest li ancestor
        if (input.value !== '') {
            li.classList.add('date-filled');
        } else {
            li.classList.remove('date-filled');
        }
    }

    // Function to add event listeners to date input within a specific li
    function addInputEventListenerToDateInput(li) {
        const dateInput = li.querySelector('input[type="date"]');
        if (dateInput) {
            // Initially update class based on the current state of the input
            updateClassBasedOnDateInput(dateInput);

            // Add event listener for changes to the input
            dateInput.addEventListener('input', function() {
                updateClassBasedOnDateInput(this);
            });
        }
    }

    // Autocomplete
    // Preload species data
    let speciesData = {};
    fetch("/static/taxa/{{ html['challenge']['taxon'] }}_all.json")
        .then(response => response.json())
        .then(data => speciesData = data);

    document.addEventListener('DOMContentLoaded', function() {
        const input = document.getElementById('autocomplete-input');
        const resultsContainer = document.getElementById('autocomplete-results');
        
        let timeoutId = null;

        input.addEventListener('input', function() {
            clearTimeout(timeoutId);

            const query = this.value.trim().toLowerCase();
            resultsContainer.innerHTML = ''; // Clear previous results

            if (!query) return; // Stop if the query is empty

            timeoutId = setTimeout(() => {
                const matchedSpecies = Object.entries(speciesData)
                    .filter(([id, {fin, sci}]) => fin.toLowerCase().includes(query) || sci.toLowerCase().includes(query))
                    .slice(0, 5); // Get the first 5 matches

                matchedSpecies.forEach(([id, {fin, sci}]) => {
                    const li = document.createElement('li');
                    li.textContent = `${fin} (${sci})`;
                    li.classList.add('autocomplete-item');

                    li.addEventListener('click', () => {
                        const taxaList = document.getElementById('taxa');
                        const newLi = document.createElement('li');
                        
                        const min = "{{ html['challenge']['year'] }}-01-01";
                        let max = "{{ html['challenge']['year'] }}-12-31";
                        // If max date is in future, make it today instead
                        if (max > new Date().toISOString().split('T')[0]) {
                            max = new Date().toISOString().split('T')[0];
                        }

                        newLi.innerHTML = `
                                    <span class='taxon_name'>${fin} (<em>${sci}</em>)</span>
                                    <input type="date" name='taxa:${id}' value="" min="${min}" max="${max}">
                                    <a href='https://laji.fi/taxon/${id}' target='_blank' class='taxon_info' title='Lisätietoa: ${fin}'>i</a>
                                `
                        taxaList.appendChild(newLi);
                        formIsDirty = true;

                        // Add event listeners to the newly added <li>
                        addClickListenerToLi(newLi);
                        addInputEventListenerToDateInput(newLi);

                        input.value = ""; // Clear input field
                        resultsContainer.innerHTML = ''; // Clear results after selection
                    });

                    resultsContainer.appendChild(li);
                });
            }, 300); // Wait 300 ms before processing the input
        });
    });

    </script>

{% endblock %}

{% block body %}

    <!-- First check if participation exists and if 'trashed' key exists and equals 1 -->
    {% if html.get('participation', {}).get('trashed') == 1 %}
        <div class="info flash">Olet merkinnyt tämän osallistumisen poistetuksi, joten muut eivät näe sitä. (Voit palauttaa sen näkyville muuttamalla osallistumisen tilan julkiseksi ja tallentamalla.)</div>
    {% endif %}

    <h1>Osallistuminen: {{ html['challenge']['title'] }}</h1>

    <p id="subnavi">
        <a href="/haaste/{{ html["challenge_id"] }}">&laquo; Takaisin tämän haasteen etusivulle</a>
        {% if html['participation'] %}
            <a href="/tilasto/{{ html["challenge_id"] }}/{{ html['participation_id'] }}">Tilastoja tästä osallistumisesta</a>
        {% endif %}
    </p>

    <form name="challenge" id="challenge" class="trashed_{{ html['data_fields'].get('trashed', 'false') }}" action="/osallistuminen/{{ html['challenge_id'] }}/{{ html['participation_id'] }}" method="post">

        <!-- Trash button -->
        {% if html['participation'] %}
        <div id="trash">
            <div id="trashed_formfield">
                <label for="trashed">Osallistumisen tila:</label>
                <select id="trashed" name="trashed">
                    <option value="0" {{ html['public_selected'] }}>Julkinen</option>
                    <option value="1" {{ html['trashed_selected'] }}>Poistettu</option>
                </select>
            </div>

            <button type="button" id="trash_button">Poista tämä osallistuminen</button>
            <button type="button" id="confirm_button">Olen varma: Poista osallistuminen</button>
        </div>
        {% endif %}

        <p>
            <label for="name">Osallistujan nimi tai nimimerkki (pakollinen):</label><br>
            <input 
                type="text" 
                id="name" 
                name="name" 
                value="{{ html['data_fields'].get('name', '') }}"
            required>
        </p>

        <p>
            <label for="place">Paikka (vapaaehtoinen): Haasteeseen osallistumisin tärkein havainnointipaikka, esim. kunta ja kylä. Haasteen havaintoja voi tehdä tämän paikan ulkopuolelta. Eri paikannimillä voit toteuttaa haastetta myös useammalta paikalta.</label><br>
            <input 
                type="text" 
                id="place" 
                name="place" 
                value="{{ html['data_fields'].get('place', '') }}" 
            >
        </p>

        <p id="submit_container">
            <button type="submit" id="submit_button">Tallenna osallistuminen</button>
        </p>

        <p>Merkitse havaitsemillesi lajeille havaintopäivämäärä klikkaamalla lajinimeä tai päivämääräkenttää. (Poista havaintopäivämäärä klikkamalla kalenteri-ikonia ja valitsemalla tyhjennä/clear.)</p>

        {% if 'taxa_count' not in html['data_fields'] %}
            <!-- Empty form -->
        {% else %}
            {% if html['data_fields']['taxa_count'] == 0 %}
                <h3 id="taxon_count_heading">Et ole tallentanut vielä yhtään lajia.</h3>
            {% else %}
                <h3 id="taxon_count_heading">{{ html['data_fields']['taxa_count'] }} lajia</h3>
            {% endif %}
        {% endif %}


        {{ html['taxa']|safe }}

        <div id="autocomplete-container">
            <p>Muista merkitä havaintopäivämäärä myös lisälajeille.</p>
            <label for="autocomplete-input"><h4>Lisää muita lajeja:</h4></label>
            <input type="text" id="autocomplete-input" placeholder="">
            <div id="autocomplete-results"></div>
        </div>
   
    </form>

{% endblock %}
