<!-- Template for a page for submitting a new participation to a challenge. -->

{% extends "base.html" %}

{% block head %}
    <style>
        #autocomplete-container {
            position: relative;
            margin-bottom: 10em;
            margin-left: 10px;
        }

        #autocomplete-input {
            width: 30em;
        }

        #autocomplete-results {
            font-size: 100%;
            border: 1px solid #ccc;
            border-top: none;
            position: absolute;
            z-index: 10;
            width: 25em; /* Adjust based on parent's border */
            background: #fff;
            color: #000;
            max-height: 200px;
            overflow-y: auto;
        }

        .autocomplete-item {
            padding: 0.5em;
            cursor: pointer;
            border-bottom: 1px solid #eee;
        }

        .autocomplete-item:hover {
            background-color: #bcffbc;
        }
    </style>

    <title>Osallistuminen haasteeseen {{ html['challenge']['title'] }}</title>
    <script>

    // Trash button logic
    document.addEventListener("DOMContentLoaded", function() {
        var trashButton = document.getElementById("trash_button");
        var confirmButton = document.getElementById("confirm_button");
        var form = document.getElementById("challenge");
        var trashedSelect = document.getElementById("trashed");

        trashButton.addEventListener("click", function() {
            confirmButton.style.display = "block"; // Show the confirm button
            trashButton.style.display = "none"; // Hide the trash button
        });

        confirmButton.addEventListener("click", function() {
            trashedSelect.value = "1"; // Set trashed = 1 (true)
            form.submit(); // Submit the form
        });
    });

    // Taxa date field selection and styles logic
    document.addEventListener('DOMContentLoaded', (event) => {
        const listItems = document.querySelectorAll('#taxa li');
        listItems.forEach(li => {
            // Update class based on the initial state
            updateClass(li);

            // Add click event listener
            li.addEventListener('click', function() {
                let dateInput = this.querySelector('input[type="date"]');
                if (dateInput && dateInput.value === '') {
                    dateInput.value = new Date().toISOString().split('T')[0]; // Set to today's date
                    updateClass(this);
                }
            });
        });
    });

    function updateClass(li) {
        let dateInput = li.querySelector('input[type="date"]');
        if (dateInput && dateInput.value !== '') {
            li.classList.add('date-filled');
        } else {
            li.classList.remove('date-filled');
        }
    }

    // Todo: Clear CSS .date-filled when date field is emptied
    // Code TBD

    // Autocomplete
    document.addEventListener('DOMContentLoaded', function() {
        const input = document.getElementById('autocomplete-input');
        const resultsContainer = document.getElementById('autocomplete-results');

        const accessToken = '{{ html["finbif_access_token"] }}';
        const informalTaxonGroup = 'MVL.343';
        const endpoint = 'https://api.laji.fi/v0/autocomplete/taxon?limit=5&includePayload=true&lang=fi&informalTaxonGroup=' + informalTaxonGroup + '&excludeNameTypes=MX.hasMisspelledName,MX.hasMisappliedName&access_token=' + accessToken + '&q='

        let timeoutId = null;

        input.addEventListener('input', function() {
            clearTimeout(timeoutId);

            const query = this.value.trim();
            if (!query) {
                resultsContainer.innerHTML = '';
                return; // Stop if the query is empty
            }

            timeoutId = setTimeout(() => { // Set a new timeout

                // Fetch data from API
                fetch(endpoint + encodeURIComponent(query))
                    .then(response => response.json())
                    .then(data => {
                        resultsContainer.innerHTML = ''; // Clear previous results

                        data.forEach(item => {
                            const div = document.createElement('div');
                            div.classList.add('autocomplete-item');
                            div.textContent = item.value + " (" + item.payload.scientificName + ")";
                            resultsContainer.appendChild(div);

                            div.addEventListener('click', function() {
                                input.value = ""; // Clear input field
                                resultsContainer.innerHTML = ''; // Clear results after selection

                                // Find the list with id="taxa"
                                const taxaList = document.getElementById('taxa');

                                // Create a new <li> element
                                const li = document.createElement('li');
                                li.innerHTML = `
                                    <span>${item.value} (<em>${item.payload.scientificName}</em>)</span>
                                    <input type="date" name="taxa:${item.key}" value="">
                                `;

                                // Append the new <li> to the "taxa" list
                                taxaList.appendChild(li);
                            });
                        });
                    })
                    .catch(error => console.error('Error fetching data:', error));
            }, 300); // Wait before calling the API
        });
    });

    </script>

{% endblock %}

{% block body %}

    <h1>Osallistuminen haasteeseen {{ html['challenge']['title'] }}</h1>

    <p><a href="/haaste/{{ html["challenge_id"] }}">&laquo; Takaisin tämän haasteen etusivulle</a></p>

    <form name="challenge" id="challenge" class="trashed_{{ html['data_fields'].get('trashed', 'false') }}" action="/osallistuminen/{{ html['challenge_id'] }}/{{ html['participation_id'] }}" method="post">
    
        <p>
            <label for="name">Osallistujan nimi tai nimimerkki:</label>
            <input 
                type="text" 
                id="name" 
                name="name" 
                value="{{ html['data_fields'].get('name', '') }}"
            required>
        </p>

        <p>
            <label for="place">Paikka, esim. kunta:</label>
            <input 
                type="text" 
                id="place" 
                name="place" 
                value="{{ html['data_fields'].get('place', '') }}" 
            required>
        </p>

        <!-- Trash button -->
        <div id="trash">
            <div id="trashed_formfield">
                <label for="trashed">Osallistumisen tila:</label>
                <select id="trashed" name="trashed">
                    <option value="0" {{ html['public_selected'] }}>Julkinen</option>
                    <option value="1" {{ html['trashed_selected'] }}>Poistettu</option>
                </select>
            </div>

            <button type="button" id="trash_button">Poista osallistuminen</button>
            <button type="button" id="confirm_button">Olen varma: Poista osallistuminen</button>
        </div>

        <p>
            <button type="submit">Tallenna osallistuminen</button>
        </p>

        {% if html['data_fields']['taxa_count'] == 0 %}
            <h3>Et ole tallentanut vielä yhtään lajia.</h3>
        {% else %}
            <h3>{{ html['data_fields']['taxa_count'] }} lajia</h3>
        {% endif %}

        {{ html['taxa']|safe }}

        <div id="autocomplete-container">
            <label for="autocomplete-input"><h4>Hae muita lajeja:</h4></label>
            <input type="text" id="autocomplete-input" placeholder="">
            <div id="autocomplete-results"></div>
        </div>
        
    </form>

{% endblock %}
