<!-- Template for a page for submitting a new participation to a challenge. -->

{% extends "base.html" %}

{% block head %}
    <title>Osallistuminen haasteeseen {{ html['challenge']['title'] }}</title>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const listItems = document.querySelectorAll('#taxa li');
            listItems.forEach(li => {
                // Update class based on the initial state
                updateClass(li);

                // Add click event listener
                li.addEventListener('click', function() {
                    let dateInput = this.querySelector('input[type="date"]');
                    if (dateInput && dateInput.value === '') {
                        dateInput.value = new Date().toISOString().split('T')[0]; // Set to today's date
                        updateClass(this);
                    }
                });
            });
        });

        function updateClass(li) {
            let dateInput = li.querySelector('input[type="date"]');
            if (dateInput && dateInput.value !== '') {
                li.classList.add('date-filled');
            } else {
                li.classList.remove('date-filled');
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            var trashButton = document.getElementById("trash_button");
            var confirmButton = document.getElementById("confirm_button");
            var form = document.getElementById("challenge");
            var trashedSelect = document.getElementById("trashed");

            trashButton.addEventListener("click", function() {
                confirmButton.style.display = "block"; // Show the confirm button
                trashButton.style.display = "none"; // Hide the trash button
            });

            confirmButton.addEventListener("click", function() {
                trashedSelect.value = "1"; // Set trashed = 1 (true)
                form.submit(); // Submit the form
            });
        });

    </script>
{% endblock %}

{% block body %}

    <h1>Osallistuminen haasteeseen {{ html['challenge']['title'] }}</h1>

    <p><a href="/haaste/{{ html["challenge_id"] }}">&laquo; Takaisin tämän haasteen etusivulle</a></p>

    <form name="challenge" id="challenge" class="trashed_{{ html['data_fields'].get('trashed', 'false') }}" action="/osallistuminen/{{ html['challenge_id'] }}/{{ html['participation_id'] }}" method="post">
    
        <p>
            <label for="name">Osallistujan nimi tai nimimerkki:</label>
            <input 
                type="text" 
                id="name" 
                name="name" 
                value="{{ html['data_fields'].get('name', '') }}"
            required>
        </p>

        <p>
            <label for="place">Paikka, esim. kunta:</label>
            <input 
                type="text" 
                id="place" 
                name="place" 
                value="{{ html['data_fields'].get('place', '') }}" 
            required>
        </p>

        <!-- Trash button -->
        <div id="trash">
            <div id="trashed_formfield">
                <label for="trashed">Osallistumisen tila:</label>
                <select id="trashed" name="trashed">
                    <option value="0" {{ html['public_selected'] }}>Julkinen</option>
                    <option value="1" {{ html['trashed_selected'] }}>Poistettu</option>
                </select>
            </div>

            <button type="button" id="trash_button">Poista osallistuminen</button>
            <button type="button" id="confirm_button">Olen varma: Poista osallistuminen</button>
        </div>

        <p>
            <button type="submit">Tallenna osallistuminen</button>
        </p>

        {% if html['data_fields']['taxa_count'] == 0 %}
            <h3>Et ole tallentanut vielä yhtään lajia.</h3>
        {% else %}
            <h3>{{ html['data_fields']['taxa_count'] }} lajia</h3>
        {% endif %}

        {{ html['taxa']|safe }}
        
    </form>

{% endblock %}
