<!-- Template for the front page that displays open and closed challenges. -->

{% extends "base.html" %}

{% block head %}
    <title>100 lajia -haaste: kasvit, hyönteiset ja sienet</title>
{% endblock %}

{% block body_attributes %} id="body_home"{% endblock %}

{% block body %}

    <p>
        Opi tuntemaan pihapiirisi hyönteiset, sienet ja kasvit! Haasteessa pyritään havainnoimaan vuoden aikana vähintään sata lajia kasvien, hyönteisten tai sienten eliöryhmistä. Haaste sopii niin aloittelijalle, kuin kokeneemmalle konkarille. Voit suorittaa haasteen yhden tai useamman eliöryhmän osalta. Lajitiedon kerääminen on hauska tapa laajentaa omaa lajintuntemusta ja liikkua enemmän luonnossa.
    </p>

    {% if g.user_data %}
        <h3 class="strong_link"><a href="/oma">Omat osallistumiset</a></h3>
    {% else %}
        <h3 class="strong_link"><a href="/login">Kirjaudu sisään</a> osallistuaksesi haasteisiin ja nähdäksesi omat osallistumisesi.</h3>
    {% endif %}

    <div class="challenges open">
        <h2>Avoimet haasteet</h2>
        {{ html["open_challenges"]|safe }}
    </div>

    <div class="challenges closed">
        <h2>Suljetut haasteet</h2>
        {{ html["closed_challenges"]|safe }}
    </div>
    
{% endblock %}
