<!-- Template for the front page that displays open and closed challenges. -->

{% extends "base.html" %}

{% block head %}
    <title>Kirjautuminen - 100 lajia</title>
{% endblock %}

{% block body %}

    <h1>Kirjautuminen</h1>

    <p>Haasteisiin osallistuminen vaatii kirjautumista. Voit kirjautua Laji.fi-, iNaturalist-, Google-, Facebook- tai Apple-tunnuksella, tai käyttämällä jotakin muuta Lajitietokeskuksen tarjoamaa kirjautumispalvelua.</p>

    <p id="login_p"><a href="{{ login_url }}" class="button">Kirjaudu tai luo tunnus</a></p>
    
{% endblock %}
