<!-- Template for a navigation page that displays my participations to challenges. -->

{% extends "base.html" %}

{% block head %}
    <title>Omat osallistumiset - 100 lajia</title>
{% endblock %}

{% block body %}

    <h1>Omat osallistumiset</h1>

    {% if html["open_participations"] == "" and html["draft_participations"] == "" and html["closed_participations"] == "" %}
    <h3 class="strong_link">Et ole vielä osallistunut. <a href='/'>Tutustu avoimiin haasteisiin etusivulla!</a></h3>
    {% else %}
        <h3 class="strong_link"><a href='/'>Osallistu uusiin haasteisiin etusivulla.</a></h3>
    {% endif %}

    {% if html["open_participations"] != "" %}
        <div class="challenges open">
            <h2>Osallistumisesi avoimiin haasteisiin</h2>
            {{ html["open_participations"]|safe }}
        </div>
    {% endif %}

    {% if html["draft_participations"] != "" %}
        <div class="challenges draft">
            <h2>Osallistumisesi väliaikaisesti suljettuihin haasteisiin</h2>
            {{ html["draft_participations"]|safe }}
        </div>
    {% endif %}

    {% if html["closed_participations"] != "" %}
        <div class="challenges closed">
            <h2>Osallistumisesi päättyneisiin haasteisiin</h2>
            {{ html["closed_participations"]|safe }}
        </div>
    {% endif %}

    {% if html["trashed_participations"] != "" %}
        <div class="challenges trashed">
            <h2>Poistamasi osallistumiset</h2>
            {{ html["trashed_participations"]|safe }}
        </div>
    {% endif %}

{% endblock %}
