<!-- Template for a page for submitting a new participation to a challenge. -->

{% extends "base.html" %}

{% block head %}
    <title>Species Challenge - Luomus</title>
{% endblock %}

{% block body %}

    <h1>Uusi osallistuminen: {{ html['challenge_name'] }}</h1>

    <form action="/osallistuminen/{{ html['challenge_id'] }}/{{ html['participation_id'] }}" method="post">
    
        <p>
            <label for="name">Osallistujan nimi tai nimimerkki:</label>
            <input 
                type="text" 
                id="name" 
                name="name" 
                value="{{ html['data_fields'].get('name', '') }}"
            required>
        </p>

        <p>
            <label for="place">Paikka, esim. kunta:</label>
            <input 
                type="text" 
                id="place" 
                name="place" 
                value="{{ html['data_fields'].get('place', '') }}" 
            required>
        </p>
    
        <p>
            <button type="submit">Tallenna uusi osallistuminen</button>
        </p>
    </form>

{% endblock %}
