<!-- Template for a page for submitting a new participation to a challenge. -->

{% extends "base.html" %}

{% block head %}
    <title>Species Challenge - Luomus</title>
{% endblock %}

{% block body %}

    <h1>Uusi osallistuminen: {{ html['challenge_name'] }}</h1>

    <form action="/osallistuminen/{{ html['challenge_id'] }}/{{ html['challenge_id'] }}" method="post">
        <input type="hidden" name="challenge_id" value="{{ html['challenge_id'] }}">
    
        <p>
            <label for="participant_name">Osallistujan nimi tai nimimerkki:</label>
            <input 
                type="text" 
                id="participant_name" 
                name="participant_name" 
                value="{{ html['name'] }}" 
            required>
        </p>

        <p>
            <label for="location">Paikka, esim. kunta:</label>
            <input 
                type="text" 
                id="location" 
                name="location" 
                value="{{ html['location'] }}" 
            required>
        </p>
    
        <p>
            <button type="submit">Tallenna uusi osallistuminen</button>
        </p>
    </form>

{% endblock %}
